.gradle
build/
profile-mock-server/build
profile-mock-server/.idea
profile-mock-server/.nb-gradle
auth-mock/build
auth-mock/.idea
auth-mock/.nb-gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
